<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ritesh.audioapp">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ritesh"
        android:label="Audio Recorder"
        android:roundIcon="@drawable/ritesh"
        android:supportsRtl="true"
        android:theme="@style/Theme.Audioapp"
        android:requestLegacyExternalStorage="true">

        <!-- Main Activity as Launcher -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Audio list activity -->
        <activity android:name=".AudioListActivity" />

        <!-- FileProvider setup for sharing files -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ritesh.audioapp.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
